<div class="row">
	<h1 class="text-center">Salpicadero</h1>
	<div class="col-md-4">
		<h3 class="text-center">
			Artículos
			<%= link_to "Nuevo artículo", new_item_path, class: "btn btn-primary btn-sm" %>
		</h3>
		<%= render "items"%>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">
			Compras
		</h3>


	</div>
	<div class="col-md-4">
		<h3 class="text-center">
			Ventas
		</h3>
	</div>
</div>