
<h1 class="center_subheader">Salpicadero</h1>
<br>
<div class="text-center">
	<%= link_to "Nuevo artículo", new_item_path, class: "btn btn-success btn-sm" %>
</div>

<div class="col-md-4">
<div class="dash-box">
<h4 class="white-uppercase">
Artículos
</h4>
</div>
<%= render "items"%>
</div>

<div class="col-md-4">
<div class="dash-box">
<h4 class="white-uppercase">
Compras
</h4>
</div>
<%= render "purchased"%>
</div>

<div class="col-md-4">
<div class="dash-box">
<h4 class="white-uppercase">
Ventas
</h4>
</div>
<%= render "sales"%>
</div>
