<div class="home-background">

  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      
      <div class="jumbotron text-center">
        <h2>DEL CAMPO A TU MESA</h2>
        <p>Comida orgánica a dormicillio</p>
        <%= link_to "PRODUCTOS ORGÁNICOS", items_path, class: "btn btn-success btn-block"%>
        <%= link_to "REGÍSTRATE", new_user_registration_path, class: "btn btn-success btn-block"%>
      </div>

    </div>

    <div class="row">
      <%= render @items %>
    </div>

  </div>

</div>
