<div class="jumbotron">
<h1>NUESTRA COMIDA ES TU COMIDA</h1>
<p>Compra comida organica entrega a domicilio</p>
<%= link_to "Alimentos Orgánicos", "#", class: "btn btn-primary btn-lg"%>
<%= link_to "Regístrate", new_user_registration_path, class: "btn btn-primary btn-lg"%>
</div>